*{
    margin: 0;
    font: auto;
    box-sizing: border-box;
    background-color: #c0c0c0;
}

img{
    margin: 10px;
    /*margin-left: 40%;*/

}

strong{
    background-color: white;
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.banner{
    background-color: dimgray;
    padding: 5px;
}
.logo-title{
    color: red;
}

.logo{
    margin-left: 2%;
    background-color: dimgray;
}

.nav{
    background-color: dimgray;
    max-width: 80%;
    
}



.option-item{
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 3px;
}

.option-item a{
    background-color: dimgray;
    color: black;
}

.option-item:hover a{
    background-color: ghostwhite;
    color: black;
}

.option-item:hover{
    background-color: ghostwhite;
    

}

.option{
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin-right: 1%;
    margin-left: 0%;
    background-color: dimgray;
}

.field{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: auto;
    
    
}

.title{
    text-align: center;
    

}

.paragraph{
    font-size: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    
}

.my-self{
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 400px;
}

.infoTools{
    padding: 3px;
    background-color: #F5F5F5;
    margin-top: 70px;
    display: inline-table;
    justify-content: space-between;
    width: 250px;
    height: 200px;
    margin-left: 30px;
}

.infoTools-coloon{
    background-color: #F5F5F5;
    
}

.infoTools-img{
    width: 50px;
    height: 50px;
    background-color: #F5F5F5;
}

.infoTools-title{
    background-color: #F5F5F5;
}

.infoTools-txt{
    background-color: #F5F5F5;
}
/* Articles */

.topic{
    background-color: white;
    margin-bottom: 20px; 
 }
 

.topic>h1{
   background-color: white;
   margin-left: 20px; 
}

.Article>a{
    background-color: #F5F5F5;

}

.infoArticle-title{
    background-color: #F5F5F5;
   
}

.infoClass-txt{
    background-color: #F5F5F5;
}

.infoClass-Article{
    margin-top: -300px;
    width: 400px;
    height: 300px;
    background-color: #F5F5F5;
    
}



.field-Articles{
    background-color: white;
    text-align: left;
    margin-left: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    padding: 10px;
}

.ImgArticle{
    margin-left: 40%;
    max-width: 200px;
    max-height: 200px;
}

.class-articles{
    
    background-color: white;
    
}

.class-articles>h1, p, h2{
    background-color: white;
    margin-left: 20px;
    
    
}

.class-articles>h2{
    
    display: inline;

}

.class-articles>p{

    display: inline;
    margin-bottom: 20px;
    
}


/*  VIDEO */
.infoClass{
    display: inline-table;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-left: 30px;
    
}

.infoClass-tub{
    width: 400px;
    height: 300px;
    background-color: #F5F5F5;
    
}
/*calculator body */

.cal-body{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 35%;
    width: 250px;
    height: 200px;
}

.space-for-value{
    background-color: white;
    align-items: inherit;
    display: flex;
}

.div-output-cal{
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-color: black;
    width: 60px;
    border-style: solid;
    background-color: white;
    
    
}

#output-cal{
    background-color: white;
    border-color: black;
    width: 60px;
}

.input-cal{
    background-color: white;
    max-width: 60px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.button-cal{
    font-size: 20px;
    text-align: center;
    margin: 5px;
    width: 30px;
    height: 30px;
    
}

.button-cal:hover{
    cursor: pointer;
    
}

.down-banner{
    background-color: dimgray;
    width: 100%;
    position: relative;
    padding: 20px;
    bottom: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

}
.down-banner>a{
    background-color: dimgray;
    
}

.down-banner>img{
    height: 20px;
    width: 20px;
    background-color: dimgray;
}

@media(max-width: 480px){


    .infoTools{
        
        display: flex;
        justify-content: space-between;
       
    }

    .logo{
        font-size: 20px;
        
    }
    
    .infoClass-tub{
        width: 100%;
        height: 100%;
    }

    .infoClass-Article{
        margin-top: 0px;
        width: 100%;
        height: 100%;
    }

}