*{
    margin: 0;
    font: auto;
    box-sizing: border-box;
    background-color: #c0c0c0;
}

a{
    list-style: none;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    background-color: dimgray;
    padding: 5px;
}

.logo{
    margin-left: 2%;
    background-color: dimgray;
}

.nav{
    background-color: dimgray;
}

.option-item{
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.option{
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin-right: 1%;
    margin-left: 0%;
    background-color: dimgray;
}

.field{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: auto;
    text-align: center;
    
}

.down-banner{
    background-color: dimgray;
    width: 100%;
    position: fixed;
    padding: 20px;
    bottom: 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.down-banner>a{
    background-color: dimgray;
    
}

.down-banner>img{
    height: 20px;
    width: 20px;
}